body { background-color: black;
            color: white;
           font-family: Arial, Helvetica, sans-serif;
              }
h2{background-color: #0000CD;
            color: white;
            position: absolute;
            left: 200px;
            top:100px;}
h3{background-color:black;
      color:white; }
dd {font-style:italic; 
       font-size:.90em;
       line-height:200%; }

.contact {  font-family: "Times New Roman", serif;
            font-size: .90em;
            font-weight:bold; }

#nav {  font-weight:bold;
        font-size: .70em; }

#texte {  font-weight:bold;
          font-size: 1.00em;
          position: absolute;
          left: 80px;
          top:300px; }

#encadrement{ background-color: #000000;
              color: white; 
              position: absolute;
              left: 633px;
              top:65px;
              padding: 50px;
              width:90px;
              height:0px;
              border: solid #0000CD;
              border-radius: 25px;
              border-width: 5px;}

#encadrement2{ background-color: #000000;
              color: white; 
              position: absolute;
              left: 1185px;
              top:65px;
              padding: 50px;
              width:90px;
              height:0px;
              border: solid #0000CD;
              border-radius: 25px;
              border-width: 5px;}

#titreinscription { font-weight:bold;
                    font-size: 2.00em;
                    position: absolute;
                    left: 650px;
                    top:70px; }
#titresuppression{ font-weight:bold;
                    font-size: 2.00em;
                    position: absolute;
                    left: 1200px;
                    top:70px; }

.inscription_col_gauche
{
  padding-right: 60px;
  padding-bottom: 10px;
}

.inscription_col_gauche input
{
  width: 260px;
  margin-left: 40px;
}

#champ1 
{ 
  position: absolute;
  left: 210px;
  top:310px;
  width:750px;
  height:300px; 
}

#champ1 td
{
  font-weight:bold;
  font-size: 1.20em;
}

#champ1 input[type="text"]
{
  width: 260px;
}
#champ1 input[type="submit"]
{
  margin-left: 200px;
}


#footer { font-size: .80em;
          font-style: italic;
          position: absolute;
          bottom: 10px;
          left: 50px; }

#connexion{ background-color: #0000CD;
            color: white; 
            position: absolute;
            right: 100px;
            bottom: 0px;
            padding: 190px; }

#inscription{ background-color: #0000CD;
              color: white; 
              position: absolute;
              left: 150px;
              top:240px;
              padding: 50px;
              width:800px;
              height:200px; }
#suppression{ background-color: #0000CD;
              color: white; 
              position: absolute;
              right: 15px;
              top:240px;
              padding: 50px;
              width:300px;
              height:200px; }
#logo1{
          position: absolute;
            left: 80px;
            bottom: 430px;}

#logo2{
          position: absolute;
          left: 50px;
          bottom: 500px;}

img{border: 0;}

.property {
    padding-right: 50px;
    padding-top: 5px;
}
#supprmail{
  position: absolute;
  right: 150px;
  bottom: 300px;
   padding-right: 60px;
  padding-bottom: 10px;

}

#validersuppr{
  position: absolute;
  right: 50px;
  bottom: 305px;

}

#positionmail{
   font-weight:bold;
  font-size: 1.20em;
    position: absolute;
  right: 265px;
  bottom: 330px;
}
