body { background-color: white;
            color: black;
           font-family: Arial, Helvetica, sans-serif;
              }

#buttoncolumn{background-color: black;
            color: white;   }

a{margin: 10px;}

img{border: 0;
	margin-right:60px;}

